body {
	background: #f0f0f0 url(/static/images/noise-f1.gif) repeat -70% 0;
}

li {
	background: #fff;
}


div.container {
	padding-top: 60px;
}

table {
	width: 100%
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	border: 1px solid #cdcdcd;
	display: table-cell;
	vertical-align: inherit;
}