{% extends "base.html" %}
{% block title %}TestSite - CasperJSGrabber{% endblock %}

{% block content %}
	<div class="container">
		<div class="sixteen columns">
			<h1>输入网址抓取网页</h1>
		</div>
		
		<form action="#" name="main" id="submit_form" method="post" > 
		<input type="text" id="fetch_url" size="90" />
		<input type="submit" id="submit_button"/>
		</form>
		
		<a href='/result'>查看抓取结果</a>
	</div>
	
	<script>
		$('document').ready(function() {
			$('#submit_form').submit(function() {
				$('#submit_button').attr('disabled', 'disabled');
				$('#submit_button').after("<span>正在抓取中...</span>");
				$.post("/ajax/submit_url",
					{url: $('#fetch_url').val()},
					function(result){
						$('#submit_button').nextAll('span').remove();
						$('#submit_button').removeAttr('disabled');
					}
				);
				return false;
			});
		});
	</script>
	
{% endblock %}