{% extends "base.html" %}
{% block title %}Results - CasperJSGrabber{% endblock %}

{% block content %}
	<div class="container">
		<div class="sixteen columns">
			<h1>已抓取的网页列表</h1>
		</div>
		<hr class="large">
		<div class="sixteen columns">
			<table>
				<tr>
					<th>
						URL					
					</th>
					<th>
						节点数					
					</th>
					<th>
						操作
					</th>
				</tr>
				{% for record in records %}
					<tr>
						<td>
							<p>{{ record.baseurl }}</p>							
						</td>
						<td>
							<p>{{ record.node_number }}</p>							
						</td>
						<td>
							<a href="result/record/{{ record.id }}">查看详细</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}