{% extends "base.html" %}
{% block title %}Result - CasperJSGrabber{% endblock %}

{% block content %}
	<link rel="stylesheet" href="/static/stylesheets/codemirror.css">
	<script src="/static/js/codemirror.js"></script>
	<script src="/static/js/mode/xml/xml.js"></script>
	<script src="/static/js/mode/javascript/javascript.js"></script>
	<script src="/static/js/mode/vbscript/vbscript.js"></script>
	<script src="/static/js/mode/css/css.js"></script>
	<script src="/static/js/mode/htmlmixed/htmlmixed.js"></script>
	
	<div class="container">
		<div class="sixteen columns">
			<h3>Report: {{ record.baseurl }}</h3>
		</div>
		<hr class="large">
		<div class="sixteen columns">
			<h5>根结点url: {{ record.baseurl }}</h5>
		</div>
		<div class="sixteen columns">
			<textarea id="root_code" name="code">
				{{ root_node.de_html }}
			</textarea>
		</div>
		{% for node in sub_node_list %}
			<div class="sixteen columns">
				<h5>结点url: {{ node.url }}</h5>
			</div>
			<div class="sixteen columns">
				<textarea id="node_code_{{ node.id }}" name="code">
					{{ node.de_html }}
				</textarea>
			</div>
		{% endfor %}
	</div>
	
	<script>
	  // Define an extended mixed-mode that understands vbscript and
	  // leaves mustache/handlebars embedded templates in html mode
		var mixedMode = {
        	name: "htmlmixed",
        	scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
                     	  mode: null},
                     	 {matches: /(text|application)\/(x-)?vb(a|script)/i,
                     	  mode: "vbscript"}]
		};
		codes = document.getElementsByName("code");
		for( i in codes ) {
			var editor = CodeMirror.fromTextArea(codes[i], {mode: mixedMode,
																				tabMode: "indent",
																				readOnly: true,
																	            lineWrapping: true,
																	            lineNumbers: true});
		}		
	</script>
{% endblock %}